* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #1f242d;
  --secondary-color: #323946;
  --tertiary-color: #fff;
  --quaternary-color: #0ef;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span {
  color: var(--quaternary-color);
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 9%;
  background-color: var(--primary-color);
  z-index: 100;
}

.logo {
  font-size: 2.3rem;
  color: var(--tertiary-color);
  font-weight: 600;
  cursor: default;
}

.nav a {
  font-size: 1.8rem;
  color: var(--tertiary-color);
  margin-left: 4rem;
  transition: 0.4s;
}

.nav a:hover,
.nav a.active {
  color: var(--quaternary-color);
}

#burger-menu {
  font-size: 3.5rem;
  color: var(--tertiary-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
}

.home-content h3:nth-last-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.5rem;
}

.social-media {
  margin-left: 4rem;
}

.social-media a {
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 1.5rem 2rem 0;
  background-color: transparent;
  font-size: 4rem;
  color: var(--quaternary-color);
  border-radius: 20%;
  transition: 0.4s ease;
}

.social-media a:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 1rem var(--quaternary-color);
}

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.8rem 2.8rem;
  font-size: 1.8rem;
  color: var(--quaternary-color);
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border: 0.2rem solid var(--quaternary-color);
  border-radius: 4rem;
  transition: 0.4s ease;
}

.button:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 1rem var(--quaternary-color);
}

.pp img {
  width: 32.4vw;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--secondary-color);
}

.about-img {
  width: 32.4vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.5rem;
}

.about-content p {
  font-size: 1.5rem;
  margin: 2rem 0 3rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 130rem;
  padding: 3rem 2rem 4rem;
  background-color: var(--secondary-color);
  text-align: center;
  border: 0.2rem solid var(--primary-color);
  border-radius: 2rem;
  transition: 0.4s ease;
}

.services-container .services-box:hover {
  border-color: var(--quaternary-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 6rem;
  color: var(--quaternary-color);
}

.services-box h3 {
  font-size: 2.5rem;
}

.services-box p {
  font-size: 1.5rem;
  margin: 1rem 0 3rem;
}
